.graphics-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 50px;
  box-shadow: var(--box-shadow);
  padding: 10px;
  position: relative;
  background: var(--background);
  border-radius: 10px;
}

.graphics {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: solid 1px var(--background-table);
  width: 49%;
  height: 400px;
  background: var(--background);
  text-align: center;

}

#graphics {
  display: flex;
  gap: 10px;
  height: 400px;
}

.graphics h3 {
  margin-bottom: 16px;
}

/*preco de entrada*/
.price {
  text-align: center;
  width: 280px;
  margin-bottom: 10px;
  background-color: var(--navbar-color);
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s ease;
  border: 1px solid var(--background-table);
}

.price:hover {
  transform: scale(1.1);
}

.price p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 700;
}

/*Tabelas*/
table {
  border-collapse: collapse;
  width: 100%;

}


th,
td {
  border: 1px solid var(--background-card-2);
  padding: 5px;
  text-align: center;
  font-size: 12px;
}

th {
  background-color: var(--background-table);
}

.table-container {
  width: 100%;
  height: 100%;
  min-width: 710px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  border: 1px solid var(--background-card-2);
  background: var(--background);
  animation: fadeIns 1s ease;
}

.table {
  width: 100%;
}

.table-container-key {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--background-card-2);
  background: var(--background);
  animation: fadeIns 1s ease;
}

.time-frame {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.time-container {
  display: flex;
  gap: 8px;
}

.time-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: -60px;
}

.button-time {
  min-width: 30px;
  padding: 2px;
  font-size: 12px;
  transition: 0.4s ease;
}

.button-time:hover {
  transform: scale(1.1);
}

.button-time.active {
  width: 40px;
  transform: scale(1.2);
  box-shadow: var(--box-shadow);
  background-color: var(--background);
}

.custom-slider {
  border-radius: 8px;
  -webkit-appearance: none;
  background: var(--navbar-color-active);
  margin-left: 10px;

  transition: 0.3s;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: transform 0.3s;
}

/*Pagination*/
.paginacao {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 10px;
}

.paginacao button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
}

.paginacao button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/*ativa botoes*/
.button-infor {
  margin-bottom: 14px;
}

.button-infor button {
  width: 45%;
  padding: 6px 12px;
  margin: 4px;
  background-color: var(--navbar-color-active);
  border: 1px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.button-infor button:hover {
  background-color: var(--background-card);
}

.button-infor .activeButton {
  background-color: var(--background-table);
  color: var(--navbar-color-active);
  border-color: #7e50aa;
  font-weight: bold;
}

.button-infor .activeButtonPivot {
  background-color: var(--background-table);
  color: var(--navbar-color-active);
  border-color: #7e50aa;
  font-weight: bold;
}

/* ativa os pivot */
.price.activePivo {
  background-color: #a40f0f;
  color: var(--navbar-color-active);
  border-color: #7e50aa;
  font-weight: bold;
}
#side-button{
width: 100%;
height: 10px;
}

.side-button:hover,
.active {
  background: var(--navbar-color-active);
  transform: scale(1.01);
}

@media (max-width:1900px) {
  .graphics {
    width: 100%;
  }
}