@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

}

/*Variaveis grobais*/
:root {
  background-color: #242424;
  --color-font: rgba(255, 255, 255, 0.87);
  --navbar-color-active: radial-gradient(#9475a2, #2b2b2b);
  --navbar-color: radial-gradient(#4a3c51, #202020);
  --background: radial-gradient(#2a202e, #1a1a1a);
  --background-basis: background-color: #242424;
  --background-side: #1c1c20;
  --box-shadow: 2px 0 10px rgba(0, 0, 0, 0.8);
  --box-shadow-active: 0px 0px 5px 5px rgba(156, 156, 156, 0.2);
  --background-color-button: rgb(48, 48, 48);
  --background-color-button-active: rgb(105, 105, 105);
  --background-table: rgb(72, 72, 72);
  --background-card: rgb(32, 32, 32);
  --background-card-2: rgb(108, 108, 108);
  --white: rgb(248, 248, 248);
  --black: black;
  --side-font: rgb(255, 255, 255);
  --button-negative: rgba(255, 52, 52, 0.9);
  --button-negative-active: rgba(221, 36, 36, 0.9);
  --button-positive: rgb(0, 255, 136);
  --button-positive-active: rgb(7, 186, 102);
  --button-gray: #b5b5b5;
  --font-global:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body.clear-theme {
  --navbar-color-active: radial-gradient(#cb63ff6e, #9b9b9b);
  --navbar-color: radial-gradient(#bca6c5ae, #bababa);
  --background: radial-gradient(#3c214887, #181818);
  --background-basis: #f5f5f5;
  --background-side: #211b26;
  --box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  --box-shadow-active: 0px 0px 5px 5px rgba(156, 156, 156, 0.1);
  --background-color-button: #949494;
  --background-color-button-active: #d0d0d0;
  --background-table: #7e7e7e;
  --background-card: #8d8d8d;
  --background-card-2: #eeeeee;
  --white: #2a2a2a;
  /* invertendo se necessário */
  --black: #ffffff;
  --button-negative: rgba(255, 90, 90, 0.9);
  --button-negative-active: rgba(221, 60, 60, 0.9);
  --button-positive: rgb(0, 166, 55);
  --button-positive-active: rgb(60, 170, 100);
  --button-gray: #ccc;
}




/*=====================
Menu popup SweetAlert2
=======================*/
.input-data-preta {
  background-color: rgb(70, 70, 70) !important;
  color: white !important;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 6px;
}

.fundo-preto {
  background-color: #1c1c20 !important;
  color: white !important;
}

.titulo-branco {
  color: white !important;
}

.label-branca {
  color: white !important;
}

.botao-verde {
  background-color: #00ff88 !important;
  color: black !important;
}

.erro-custom {
  color: rgb(255, 70, 70);
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

/*========================
Menu popup SweetAlert2 FIM
==========================*/


/*========================
Animacao de entrada suave
==========================*/
@keyframes fadeIns {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}